.listing {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

.product {
    margin: 20px;
    text-align: center;
}

.info {
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.image img {
    width: 100%;
}

.name {

}

.price {

}

.specialPrice {

}

@media (min-width: 480px) {
    .listing {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 768px) {
    .listing {
        grid-template-columns: repeat(3, 33.333333%);
    }
}

@media (min-width: 1024px) {
    .listing {
        grid-template-columns: repeat(4, 25%);
    }
}