.totals {
    margin-bottom: 25px;
}

.row {
    padding: 7px 0;
}

.row {
    text-align: center;
}

.row span {
    display: inline-block;
}

.row span:first-child {
    text-align: right;
}

.row span:last-child {
    width: 135px;
}

.subtotal,
.vat {
    display: none;
}

.total {
    font-size: 20px;
    font-weight: 800;
}

@media (min-width: 768px) {
    .row {
        text-align: right;
    }

    .subtotal,
    .vat {
        display: block;
    }
}
