.row {
    display: flex;
}

.column {
    padding-top: 56px;
}

.product {
    display: flex;
    width: 60%;
}

.name {
    max-width: 250px;
}

.inStock {
    background: var(--color-green);
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 7px;
    width: auto;
}

.price,
.quantity {
    text-align: center;
}

.price {
    width: 10%;
}

.quantity {
    padding-top: 37px;
    text-align: center;
    width: 20%;
}

.subtotal {
    text-align: right;
    width: 10%;
}

.image {
    margin: -10px 20px 0 0;
}

.quantityWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.quantityInput {
    border: 1px solid var(--color-light-gray);
    display: block;
    height: 60px;
    margin: 0 3px;
    text-align: center;
    width: 70px;
}

.quantityIcon {
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;
    padding: 9px 17px;
}

.remove {
    border-bottom: 1px solid var(--color-black);
    cursor: pointer;
    display: inline-block;
    margin-top: 23px;
}