body {
    background: var(--color-white) url('../images/layout/bg.svg') no-repeat -223px 0;
    background-size: 90%;
    color: var(--color-black);
    font-family: var(--font-family-default);
    font-size: 16px;
    line-height: 26px;
}

img {
    max-width: 100%;
}

.page-title {
    text-shadow: 4px 4px 6px var(--color-green);
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    margin: 50px auto 70px;
    max-width: 300px;
    text-align: center;
    transform: rotate(-8deg);
}

@media (min-width: 900px) {
    .page-title {
        margin: 66px auto 105px;
    }
}

.container {
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding: 0 20px 20px;
}

@media (min-width: 1250px) {
    .container {
        padding: 0;
    }
}
