:root {
    /* Colours */
    --color-black: #000;
    --color-white: #fff;
    --color-red: #D0021B;

    /* Layout */
    --max-container-width: 1200px;

    /* Fonts */
    --font-family-default: 'Open Sans', sans-serif;
}
