.header {
    border-bottom: 1px solid var(--color-light-gray);
    display: none;
    font-weight: bold;
    line-height: 1;
}

.product {
    width: 60%;
}

.price,
.quantity {
    text-align: center;
}

.price {
    width: 10%;
}

.quantity {
    width: 30%;
}

.subtotal {
    text-align: right;
    width: 10%;
}

@media (min-width: 900px) {
    .header {
        display: flex;
    }
}